.slick-slide{
    .icon-card:first-of-type{
        padding-left:0 !important
    }
    .icon-card:first-of-type{
        padding-right:0 !important
    }
}

.control{
    .slick-current{
        .card{
            box-shadow:3px 3px 3px #999
        }
    }
    .slick-cloned{
        display: none !important;
    }
}


.sponsor-data{
    margin-top:1rem;
}

.icon-wrapper{
    padding:.5rem;
    .card-body{
        padding:.5rem;
    }
}

@media only screen and ( min-width:768px ){
    .sponsor{
        margin-left: 1rem;
    }
    
    .sponsor-data{
        margin-right: 1rem;
        margin-top: 0;
    }
    .icon-wrapper{
        padding:1rem;
    }
}
