.idc-hero-wrapper{
    height:550px;
    background-size:cover;
    background-position: left center;
}

.full-height{
    height:calc( 70vh - 56px);
}

@media only screen and ( min-width: 768px ){
    .idc-hero-wrapper{
        height: 400px;
    }
}
